{% extends "./plantilla.html" %}
{% block body %}
<h2 style="text-align: center;">EDITAR COTIZACIÓN</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="formulario">
                <form action="{% url 'procesarActualizacionCotizacion' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{cotizacionEditar.id}}">
                    <label for="ci_cli"><b>RUC/CI</b></label>
                    <input type="text" name="ci_cli" class="form-control" id="ci_cli" value="{{ cotizacionEditar.ci_cli }}" placeholder="Ingrese la cédula del cliente" required>
                    <br>
                    <label for="nombre_apellido"><b>Nombre y Apellido:</b></label>
                    <input type="text" name="nombre_apellido" class="form-control" id="nombre" value="{{ cotizacionEditar.nombre_apellido }}" placeholder="Ingrese el nombre y apellido del cliente" required>
                    <br>
                    <label for="correo"><b>Correo:</b></label>
                    <input type="email" name="correo" class="form-control" id="correo" value="{{ cotizacionEditar.correo }}" placeholder="Ingrese el correo electrónico" required>
                    <br>
                    <label for="telefono"><b>Teléfono</b></label>
                    <input type="text" name="telefono" class="form-control" id="telefono" value="{{ cotizacionEditar.telefono }}" placeholder="Ingrese el celular o teléfono del cliente" required>
                    <br>
                    <label for="descripcion"><b>Observaciones:</b></label>
                    <textarea name="descripcion" class="form-control" id="descripcion" placeholder="Ingrese la Descripción de la cotización">{{ cotizacionEditar.descripcion }}</textarea>
                    <br>

                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'listadoCotizacion' %}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br>

{% endblock %}