{% extends "./plantilla.html" %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                <br>
                <h2 style="text-align: center;">Nueva Cotización</h2>
                <div class="formulario">
                    <form action="{% url 'guardarCotizacion' %}" enctype="multipart/form-data" id="frm_nueva_cotizacion" method="post">
                        {% csrf_token %}
                            <label for="ci_cli"><b>RUC/CI</b></label>
                            <input type="text" name="ci_cli" class="form-control" id="ci_cli" placeholder="Ingrese la cedula del cliente" required>
                            <br>
                            <label for="nombre_apellido"><b>Nombre y Apellido:</b></label>
                            <input type="text" name="nombre_apellido" class="form-control" id="nombre" placeholder="Ingrese el nombre y apellido del cliente" required>
                            <br>
                            <label for="correo"><b>Correo:</b></label>
                            <input type="email" name="correo" class="form-control" id="correo" placeholder="Ingrese el correo electrónico" required>
                            <br>
                            <label for="telefono"><b>Teléfono</b></label>
                            <input type="text" name="telefono" class="form-control" id="telefono" placeholder="Ingrese el celular o teléfono del cliente" required>
                            <br>
                            <label for="ciudad"><b>Ciudad:</b></label>
                            <select name="ciudad" id="ciudad" class="form-control" required>
                                <option value="0" disabled="" selected="">Seleccionar Ciudad...</option>
                                <option value="Seleccionar Ciudad..." disabled="" selected="">Seleccionar Ciudad...</option>
                                <option value="Latacunga">Latacunga</option>
                                <option value="Salcedo">Salcedo</option>
                                <option value="Pujilí">Pujilí</option>
                                <option value="Ambato">Ambato</option>
                                <option value="La Mana">La Mana</option>
                                <option value="Quito">Quito</option>
                            </select>
                            <br>
                            
                            <label for="linea_productos"><b>Productos:</b></label>
                            <select name="linea_productos" id="linea_productos" class="form-control" required>
                                <option value="0" disabled="" selected="">Seleccione la línea de productos</option>
                                <option value="Agroindustrias">Agroindustrias</option>
                                <option value="Laminados">Laminados</option>
                                <option value="Tuberia">Tubería</option>
                                <option value="Varilla">Varilla</option>
                            </select>
                            <br>
                            
                            <select name="agroindustrias_options" id="agroindustrias_options" class="form-control" style="display: none;">
                                <option value="0" disabled selected>Seleccione una opción</option>
                                <option value="Elementos Finales">Elementos Finales</option>
                                <option value="Tanques y Silos">Tanques y Silos</option>
                            </select>

                            <select name="laminados_options" id="laminados_options" class="form-control" style="display: none;">
                                <option value="0" disabled selected>Seleccione una opción</option>
                                <option value="Ángulos">Ángulos</option>
                                <option value="Platinas">Platinas</option>
                                <option value="Barras">Barras</option>
                                <option value="TEES">TEES</option>
                            </select>

                            <select name="tuberias_options" id="tuberias_options" class="form-control" style="display: none;">
                                <option value="0" disabled selected>Seleccione una opción</option>
                                <option value="Tuberia Caliente">Tubería caliente</option>
                                <option value="Tuberia ISO">Tubería ISO</option>
                                <option value="Tuberia Galvanizada">Tubería Galvanizada</option>
                                <option value="Tuberia Metalizada">Tubería Metalizada</option>
                                <option value="Tubieria Fría">Tubería Fría</option>
                                <option value="Carpinteria Metálica">Carpinteria Metálica</option>
                            </select>

                            <select name="varillas_options" id="varillas_options" class="form-control" style="display: none;">
                                <option value="0" disabled selected>Seleccione una opción</option>
                                <option value="Varilla Recta">Varilla Recta</option>
                                <option value="Varilla Figurada">Varilla Figurada</option>
                                <option value="Varilla Helicoidal">Varilla Helicoidal</option>
                                <option value="Varilla en Rollo">Varilla en Rollo</option>
                            </select>

                            <label for="descripcion"><b>Observaciones:</b></label>
                            <textarea name="descripcion" class="form-control" id="descripcion" placeholder="Ingrese la Descripción de la cotización"></textarea>
                            <br>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'listadoCotizacion' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
                
            </div>
    </div>
</div>
<br><br><br><br>

<script>
    document.getElementById('linea_productos').addEventListener('change', function() {
        var agroindustriasOptions = document.getElementById('agroindustrias_options');
        var laminadosOptions = document.getElementById('laminados_options');
        var tuberiasOptions = document.getElementById('tuberias_options');
        var varillasOptions = document.getElementById('varillas_options');

        agroindustriasOptions.style.display = 'none';
        laminadosOptions.style.display = 'none';
        tuberiasOptions.style.display = 'none';
        varillasOptions.style.display = 'none';

        if (this.value == "Agroindustrias") {
            agroindustriasOptions.style.display = 'block';
        } else if (this.value == "Laminados") {
            laminadosOptions.style.display = 'block';
        } else if (this.value == "Tuberia") {
            tuberiasOptions.style.display = 'block';
        } else if (this.value == "Varilla") {
            varillasOptions.style.display = 'block';
        }
    });
</script>

<script>
    $("#frm_nueva_cotizacion").validate({
        rules: {
            ci_cli:{
                required: true,
                digits: true,
                maxlength: 13
            },
            nombre_apellido:{
                required: true,
                minlength: 3,
                maxlength: 50
            },
            correo:{
                required: true,
                email: true
            },
            telefono:{
                required: true,
                digits: true,
                maxlength: 15
            },
            ciudad:{
                required: true
            },
            linea-productos:{
                required: true
            },
            descripcion:{
                required: true,
            }
            },
        messages:{
            ci_cli:{
                required: "Por favor ingrese la cédula",
                digits: "Por favor ingrese solo números",
                maxlength: "Número máximo de 13 dígitos"
            },
            nombre_apellido:{
                required: "Por favor ingrese el nombre",
                minlength: "Por favor al menos ingrese 3 letras",
                maxlength: "Se ha excedido"
            },
            correo:{
                required: "Por favor ingrese el correo",
                email: "Por favor ingrese un correo válido"
            
            },
            telefono:{
                required: "Por favor ingrese el número de teléfono",
                digits: "Por favor ingrese solo números",
                maxlength: "Número máximo de 15 dígitos"
            },
            ciudad:{
                required: "Por favor ingrese la ciudad"
                },
            linea-productos:{
                required: "Por favor ingrese la línea de productos"
            },
            descripcion:{
                required: "Por favor ingrese una descripción"
            }
        }
    });
</script>

{% endblock %}