{% extends "./plantilla.html" %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                <br>
                <h2 style="text-align: center;">Nueva Cotización</h2>
                <div class="formulario">
                    <form action="{% url 'guardarCotizacion' %}" enctype="multipart/form-data" id="frm_nueva_cotizacion" method="post">
                        {% csrf_token %}
                            <label for="ci_cli"><b>RUC/CI</b></label>
                            <input type="text" name="ci_cli" class="form-control" id="ci_cli" placeholder="Ingrese la cedula del cliente" required>
                            <br>
                            <label for="nombre_apellido"><b>Nombre y Apellido:</b></label>
                            <input type="text" name="nombre_apellido" class="form-control" id="nombre" placeholder="Ingrese el nombre y apellido del cliente" required>
                            <br>
                            <label for="correo"><b>Correo:</b></label>
                            <input type="email" name="correo" class="form-control" id="correo" placeholder="Ingrese el correo electrónico" required>
                            <br>
                            <label for="telefono"><b>Teléfono</b></label>
                            <input type="text" name="telefono" class="form-control" id="telefono" placeholder="Ingrese el celular o teléfono del cliente" required>
                            <br>
                            <label for=""><b>Ciudad:</b></label>
                            <select name="ciudad" id="ciudad" class="form-control" required>
                                <option value="0" disabled="" selected="">Seleccionar Ciudad...</option>
                                <option value="all">Otra</option>
                                <option value="123">Alamor</option>
                                <option value="49">Alausí</option>
                                <option value="105">Alfredo Baquerizo Moreno</option>
                                <option value="128">Amaluza</option>
                                <option value="197">Ambato</option>
                                <option value="178">Arajuno</option>
                                <option value="168">Archidona</option>
                                <option value="68">Arenillas</option>
                                <option value="80">Atacames</option>
                                <option value="114">Atuntaqui</option>
                                <option value="34">Azogues</option>
                                <option value="12">Baba</option>
                                <option value="2">Babahoyo</option>
                                <option value="170">Baeza</option>
                                <option value="141">Bahía de Caráquez</option>
                                <option value="102">Balao</option>
                                <option value="72">Balsas</option>
                                <option value="95">Balzar</option>
                                <option value="198">Baños de Agua Santa</option>
                                <option value="36">Biblián</option>
                                <option value="45">Bolívar</option>
                                <option value="3">Buena Fe</option>
                                <option value="142">Calceta</option>
                                <option value="28">Caluma</option>
                                <option value="16">Camilo Ponce Enríquez</option>
                                <option value="35">Cañar</option>
                                <option value="120">Cariamanga</option>
                                <option value="171">Carlos Julio Arosemena Tola</option>
                                <option value="122">Catacocha</option>
                                <option value="119">Catamayo</option>
                                <option value="11">Catarama</option>
                                <option value="182">Cayambe</option>
                                <option value="124">Celica</option>
                                <option value="202">Cevallos</option>
                                <option value="130">Chaguarpamba</option>
                                <option value="50">Chambo</option>
                                <option value="76">Chilla</option>
                                <option value="31">Chillanes</option>
                                <option value="30">Chimbo</option>
                                <option value="136">Chone</option>
                                <option value="17">Chordeleg</option>
                                <option value="51">Chunchi</option>
                                <option value="108">Cnel. Marcelino Maridueña</option>
                                <option value="109">Colimes</option>
                                <option value="115">Cotacachi</option>
                                <option value="47">Cumandá</option>
                                <option value="90">Daule</option>
                                <option value="39">Déleg</option>
                                <option value="88">Durán</option>
                                <option value="29">Echeandía</option>
                                <option value="42">El Ángel</option>
                                <option value="137">El Carmen</option>
                                <option value="169">El Chaco</option>
                                <option value="62">El Corazón</option>
                                <option value="193">El Dorado de Cascales</option>
                                <option value="67">El Guabo</option>
                                <option value="25">El Pan</option>
                                <option value="209">El Pangui</option>
                                <option value="37">El Tambo</option>
                                <option value="93">El Triunfo</option>
                                <option value="77">Esmeraldas</option>
                                <option value="150">Flavio Alfaro</option>
                                <option value="94">General Villamil</option>
                                <option value="18">Girón</option>
                                <option value="129">Gonzanamá</option>
                                <option value="110">Gral. Antonio Elizalde (Bucay)</option>
                                <option value="159">Gral. Leonidas Plaza Gutiérrez (Limón)</option>
                                <option value="21">Guachapala</option>
                                <option value="158">Gualaquiza</option>
                                <option value="54">Guamote</option>
                                <option value="48">Guano</option>
                                <option value="26">Guaranda</option>
                                <option value="87">Guayaquil</option>
                                <option value="212">Guayzimi</option>
                                <option value="43">Huaca</option>
                                <option value="165">Huamboya</option>
                                <option value="66">Huaquillas</option>
                                <option value="112">Ibarra</option>
                                <option value="111">Isidro Ayora</option>
                                <option value="151">Jama</option>
                                <option value="143">Jaramijó</option>
                                <option value="139">Jipijapa</option>
                                <option value="152">Junín</option>
                                <option value="196">La Bonita</option>
                                <option value="189">La Concordia</option>
                                <option value="173">La Joya de los Sachas</option>
                                <option value="215">La Libertad</option>
                                <option value="57">La Maná</option>
                                <option value="33">La Troncal</option>
                                <option value="75">La Victoria</option>
                                <option value="32">Las Naves</option>
                                <option value="56">Latacunga</option>
                                <option value="162">Logroño</option>
                                <option value="118">Loja</option>
                                <option value="100">Lomas de Sargentillo</option>
                                <option value="174">Loreto</option>
                                <option value="194">Lumbaqui</option>
                                <option value="121">Macará</option>
                                <option value="156">Macas</option>
                                <option value="183">Machachi</option>
                                <option value="63">Machala</option>
                                <option value="134">Manta</option>
                                <option value="73">Marcabelí</option>
                                <option value="179">Mera</option>
                                <option value="89">Milagro</option>
                                <option value="44">Mira</option>
                                <option value="8">Mocache</option>
                                <option value="205">Mocha</option>
                                <option value="7">Montalvo</option>
                                <option value="138">Montecristi</option>
                                <option value="81">Muisne</option>
                                <option value="97">Naranjal</option>
                                <option value="96">Naranjito</option>
                                <option value="106">Nobol</option>
                                <option value="190">Nueva Loja</option>
                                <option value="133">Olmedo</option>
                                <option value="155">Olmedo</option>
                                <option value="23">Oña</option>
                                <option value="113">Otavalo</option>
                                <option value="166">Pablo Sexto</option>
                                <option value="74">Paccha</option>
                                <option value="149">Paján</option>
                                <option value="211">Palanda</option>
                                <option value="10">Palenque</option>
                                <option value="104">Palestina</option>
                                <option value="52">Pallatanga</option>
                                <option value="160">Palora</option>
                                <option value="214">Paquisha</option>
                                <option value="64">Pasaje</option>
                                <option value="203">Patate</option>
                                <option value="14">Paute</option>
                                <option value="140">Pedernales</option>
                                <option value="98">Pedro Carbo</option>
                                <option value="185">Pedro Vicente Maldonado</option>
                                <option value="199">Pelileo</option>
                                <option value="55">Penipe</option>
                                <option value="153">Pichincha</option>
                                <option value="200">Píllaro</option>
                                <option value="116">Pimampiro</option>
                                <option value="69">Piñas</option>
                                <option value="127">Pindal</option>
                                <option value="71">Portovelo</option>
                                <option value="135">Portoviejo</option>
                                <option value="22">Pucará</option>
                                <option value="9">Puebloviejo</option>
                                <option value="84">Puerto Ayora</option>
                                <option value="85">Puerto Baquerizo Moreno</option>
                                <option value="192">Puerto El Carmen de Putumayo</option>
                                <option value="172">Puerto Francisco de Orellana</option>
                                <option value="145">Puerto López</option>
                                <option value="187">Puerto Quito</option>
                                <option value="86">Puerto Villamil</option>
                                <option value="59">Pujilí</option>
                                <option value="176">Puyo</option>
                                <option value="201">Quero</option>
                                <option value="1">Quevedo</option>
                                <option value="132">Quilanga</option>
                                <option value="13">Quinsaloma</option>
                                <option value="180">Quito</option>
                                <option value="46">Riobamba</option>
                                <option value="83">Rioverde</option>
                                <option value="148">Rocafuerte</option>
                                <option value="78">Rosa Zárate</option>
                                <option value="217">Salinas</option>
                                <option value="101">Salitre</option>
                                <option value="91">Samborondón</option>
                                <option value="20">San Fernando</option>
                                <option value="41">San Gabriel</option>
                                <option value="163">San Juan Bosco</option>
                                <option value="79">San Lorenzo</option>
                                <option value="27">San Miguel</option>
                                <option value="186">San Miguel de Los Bancos</option>
                                <option value="58">San Miguel de Salcedo</option>
                                <option value="146">San Vicente</option>
                                <option value="181">Sangolquí</option>
                                <option value="147">Santa Ana</option>
                                <option value="177">Santa Clara</option>
                                <option value="216">Santa Elena</option>
                                <option value="15">Santa Isabel</option>
                                <option value="103">Santa Lucía</option>
                                <option value="65">Santa Rosa</option>
                                <option value="161">Santiago de Méndez</option>
                                <option value="188">Santo Domingo</option>
                                <option value="60">Saquisilí</option>
                                <option value="125">Saraguro</option>
                                <option value="24">Sevilla de Oro</option>
                                <option value="191">Shushufindi</option>
                                <option value="61">Sigchos</option>
                                <option value="19">Sígsig</option>
                                <option value="107">Simón Bolívar</option>
                                <option value="131">Sozoranga</option>
                                <option value="154">Sucre</option>
                                <option value="157">Sucúa</option>
                                <option value="38">Suscal</option>
                                <option value="184">Tabacundo</option>
                                <option value="164">Taisha</option>
                                <option value="195">Tarapoa</option>
                                <option value="167">Tena</option>
                                <option value="175">Tiputini</option>
                                <option value="204">Tisaleo</option>
                                <option value="144">Tosagua</option>
                                <option value="40">Tulcán</option>
                                <option value="117">Urcuquí</option>
                                <option value="82">Valdez (Limones)</option>
                                <option value="6">Valencia</option>
                                <option value="92">Velasco Ibarra</option>
                                <option value="4">Ventanas</option>
                                <option value="53">Villa La Unión (Cajabamba)</option>
                                <option value="5">Vinces</option>
                                <option value="213">Yacuambi</option>
                                <option value="99">Yaguachi</option>
                                <option value="207">Yantzaza</option>
                                <option value="206">Zamora</option>
                                <option value="126">Zapotillo</option>
                                <option value="70">Zaruma</option>
                                <option value="208">Zumba</option>
                                <option value="210">Zumbi</option>
                            </select>
                            <br>
                            
                            <label for=""><b>Productos:</b></label>
                            <select name="linea-productos" id="linea-productos" class="form-control" required>
                                <option value="0" disabled="" selected="">Linea de productos</option>
                                <option value="1">Agroindustrias</option>
                                <option value="2">Laminados</option>
                                <option value="3">Tubería</option>
                                <option value="4">Varilla</option>
                            </select>
                            <br>
                            <br>
                            <select name="agroindustrias-options" id="agroindustrias-options" class="form-control" style="display: none;">
                                <option value="0" disabled selected>Seleccione una opción</option>
                                <option value="elementos-finales">Elementos Finales</option>
                                <option value="tanques-y-silos">Tanques y Silos</option>
                            </select>

                            <select name="laminados-options" id="laminados-options" class="form-control" style="display: none;">
                                <option value="0" disabled selected>Seleccione una opción</option>
                                <option value="angulos">Ángulos</option>
                                <option value="platinas">Platinas</option>
                                <option value="barras">Barras</option>
                                <option value="tees">TEES</option>
                            </select>

                            <select name="tuberias-options" id="tuberias-options" class="form-control" style="display: none;">
                                <option value="0" disabled selected>Seleccione una opción</option>
                                <option value="tuberia-caliente">Tubería caliente</option>
                                <option value="tuberia-iso">Tubería ISO</option>
                                <option value="tuberia-galvanizada">Tubería Galvanizada</option>
                                <option value="tuberia-metalizada">Tubería Metalizada</option>
                                <option value="tubieria-fria">Tubería Fría</option>
                                <option value="carpinteria-metalica">Carpinteria Metálica</option>
                            </select>

                            <select name="varillas-options" id="varillas-options" class="form-control" style="display: none;">
                                <option value="0" disabled selected>Seleccione una opción</option>
                                <option value="angulos">Varilla Recta</option>
                                <option value="platinas">Varilla Figurada</option>
                                <option value="barras">Varilla Helicoida<l/option>
                                <option value="tees">Varilla en Rollo</option>
                            </select>

                            <label for="descripcion"><b>Observaciones:</b></label>
                            <textarea name="descripcion" class="form-control" id="descripcion" placeholder="Ingrese la Descripción de la cotización"></textarea>
                            <br>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'listadoCotizacion' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
                
            </div>
    </div>
</div>
<br><br><br><br>

<script>
    document.getElementById('linea-productos').addEventListener('change', function() {
        var agroindustriasOptions = document.getElementById('agroindustrias-options');
        if (this.value == "1") { // Agroindustria
            agroindustriasOptions.style.display = 'block';
        } else {
            agroOptions.style.display = 'none';
        }
    });

    document.getElementById('linea-productos').addEventListener('change', function() {
        var laminadosOptions = document.getElementById('laminados-options');
        if (this.value == "2") { // Laminados
            laminadosOptions.style.display = 'block';
        } else {
            laminadosOptions.style.display = 'none';
        }
    });

    document.getElementById('linea-productos').addEventListener('change', function() {
        var tuberiasOptions = document.getElementById('tuberias-options');
        if (this.value == "3") { // Tuberias
            tuberiasOptions.style.display = 'block';
        } else {
            tuberiasOptions.style.display = 'none';
        }
    });

    document.getElementById('linea-productos').addEventListener('change', function() {
        var varillasOptions = document.getElementById('varillas-options');
        if (this.value == "4") { // Varillas
            varillasOptions.style.display = 'block';
        } else {
            varillasOptions.style.display = 'none';
        }
    });
</script>

<script>
    $("#frm_nueva_cotizacion").validate({
        rules: {
            ci_cli:{
                required: true,
                digits: true,
                maxlength: 13
            },
            nombre_apellido:{
                required: true,
                minlength: 3,
                maxlength: 50
            },
            correo:{
                required: true,
                email: true
            },
            telefono:{
                required: true,
                digits: true,
                maxlength: 15
            },
            ciudad:{
                required: true
            },
            linea-productos:{
                required: true
            },
            descripcion:{
                required: true,
            }
            },
        messages:{
            ci_cli:{
                required: "Por favor ingrese la cédula",
                digits: "Por favor ingrese solo números",
                maxlength: "Número máximo de 13 dígitos"
            },
            nombre_apellido:{
                required: "Por favor ingrese el nombre",
                minlength: "Por favor al menos ingrese 3 letras",
                maxlength: "Se ha excedido"
            },
            correo:{
                required: "Por favor ingrese el correo",
                email: "Por favor ingrese un correo válido"
            
            },
            telefono:{
                required: "Por favor ingrese el número de teléfono",
                digits: "Por favor ingrese solo números",
                maxlength: "Número máximo de 15 dígitos"
            },
            ciudad:{
                required: "Por favor ingrese la ciudad"
                },
            linea-productos:{
                required: "Por favor ingrese la línea de productos"
            },
            descripcion:{
                required: "Por favor ingrese una descripción"
            }
        }
    });
</script>

{% endblock %}


