{% extends "./plantilla.html" %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                <br>
                <h2 style="text-align: center;">Nueva Cotización</h2>
                <div class="formulario">
                    <form action="{% url 'guardarCotizacion' %}" enctype="multipart/form-data" id="frm_nueva_cotizacion" method="post">
                        {% csrf_token %}
                            <label for="ci_cli"><b>RUC/CI</b></label>
                            <input type="text" name="ci_cli" class="form-control" id="ci_cli" placeholder="Ingrese la cedula del cliente" required>
                            <br>
                            <label for="nombre_apellido"><b>Nombre y Apellido:</b></label>
                            <input type="text" name="nombre_apellido" class="form-control" id="nombre" placeholder="Ingrese el nombre y apellido del cliente" required>
                            <br>
                            <label for="correo"><b>Correo:</b></label>
                            <input type="email" name="correo" class="form-control" id="correo" placeholder="Ingrese el correo electrónico" required>
                            <br>
                            <label for="telefono"><b>Teléfono</b></label>
                            <input type="text" name="telefono" class="form-control" id="telefono" placeholder="Ingrese el celular o teléfono del cliente" required>
                            <br>

                            <label for="descripcion"><b>Observaciones:</b></label>
                            <textarea name="descripcion" class="form-control" id="descripcion" placeholder="Ingrese la Descripción de la cotización"></textarea>
                            <br>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'listadoCotizacion' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
                
            </div>
    </div>
</div>
<br><br><br>

<script>
    $("#frm_nueva_cotizacion").validate({
        rules: {
            ci_cli:{
                required: true,
                digits: true,
                maxlength: 13
            },
            nombre_apellido:{
                required: true,
                minlength: 3,
                maxlength: 50
            },
            correo:{
                required: true,
                email: true
            },
            telefono:{
                required: true,
                digits: true,
                maxlength: 15
            },
            ciudad:{
                required: true
            },
            linea-productos:{
                required: true
            },
            descripcion:{
                required: true,
            }
            },
        messages:{
            ci_cli:{
                required: "Por favor ingrese la cédula",
                digits: "Por favor ingrese solo números",
                maxlength: "Número máximo de 13 dígitos"
            },
            nombre_apellido:{
                required: "Por favor ingrese el nombre",
                minlength: "Por favor al menos ingrese 3 letras",
                maxlength: "Se ha excedido"
            },
            correo:{
                required: "Por favor ingrese el correo",
                email: "Por favor ingrese un correo válido"
            
            },
            telefono:{
                required: "Por favor ingrese el número de teléfono",
                digits: "Por favor ingrese solo números",
                maxlength: "Número máximo de 15 dígitos"
            },
            ciudad:{
                required: "Por favor ingrese la ciudad"
                },
            linea-productos:{
                required: "Por favor ingrese la línea de productos"
            },
            descripcion:{
                required: "Por favor ingrese una descripción"
            }
        }
    });
</script>

{% endblock %}