{% extends './plantilla.html' %}
{% load static %}
{% block body %}

<div style="padding-top: 280px;">
    <h1 style="text-align: center;">
    <b>PRODUCTOS</b></h1>
</div>
<div style="text-align: center;">
    <a href="{% url 'listadoProducto' %}" class="btn btn-success"><i class="fas fa-plus "></i> Agregar Producto</a>
<br><br>
<div style="margin-left: 48%;">
    <table border="1px">
        <tr>
            <td>
                jhkj
            </td>
            <td>
                khjl
            </td>
        </tr>
    </table>
</div>
<hr style="border: 0; border-top: 3px solid rgb(219, 82, 2); width:90%;">
{% endblock %}